:root {
  --background-surface: #f4ebd0;
  --primaryColor: #b68d40;
  --secondaryColor: #d6ad60;
  --white: #ffffff;
  --black: #000000;
  --borderRadius: 0.25rem;
}

body {
  padding: 0;
  margin: 0;
  /* background-color: var(--background-surface); */
  font-size: 16px;
}
.header-icon {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.header-name-box {
  display: flex;
  align-items: center;
  margin: 0;
}

.header-container {
  /* margin: 0 1rem; */
  padding: 0.5rem 1rem;
  background-color: var(--black);
  color: var(--white);
  font-size: 20px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  padding: 0.5rem 1rem;
  border: 1px solid var(--white);
  border-radius: var(--borderRadius);
  margin-left: 1rem;
}
.nav-link:hover {
  background-color: var(--background-surface);
  color: var(--black);
  border-color: var(--black);
}
